.scanner {
  margin-top: 120px;
  position: relative;
  display: flex;
  &__background{
    position: absolute;
    z-index: -10;
    width: 1440px;
    height: 836px; 
    right: -100px;  
  }
  &__gradient {
    position: absolute;
    width: 1500px;
    height: 1060px;
    margin-left: -105px;
    z-index: -9;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
  }
  &__reverse {
    display: flex;
  }
  &__phones {
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 714px;
  }
  &__phone {
    max-width: 332px;
    max-height: 667px;
    margin-top: 340px;
  }
  &__phone:not(:last-child) {
    margin-right: 50px;
  }
  &__content {
    margin-top: 830px;
    margin-left: 128px;
    &_title {
      max-width: 400px;
      margin-bottom: 23px;
    }
    &_description {
      max-width: 316px;
    }
  }
}

@media (max-width: 1400px) {
  .scanner {
    &__reverse {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
    }
    &__content {
      margin-top: -50px;
      margin-left: 30px;
      &_description {
        max-width: 500px;
      }
    }
    &__phones {
      margin: 0 auto;
      margin-top: 100px;
    }
    &__phone {
      margin-top: 0px;
    }
  }
}

@media (max-width: 825px) {
  .scanner {
    &__background{
      max-width: 900px;
      max-height: 550px;   
    }
    &__gradient {
      width: 1000px;
      height: 560px;
    }
    &__content {
      margin-top: 450px;
      margin-left: 0px;
      &_description {
        max-width: 500px;
      }
    }
    &__phone {
      max-width: 250px;
      max-height: 500px;
      margin-top: 0px;
    }
  }
}

@media (max-width: 600px) {
  .scanner {
    &__background{
      max-width: 600px;
      max-height: 350px; 
      right: 0px;  
    }
    &__gradient {
      height: 400px;
    }
    &__phones {
      flex-direction: column;
    }
    &__phone:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 55px;
    }
    &__content {
      margin-top: 350px;
      &_title {
        font-size: 24px;
        line-height: 29px;
      }
      &_description {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

@media (max-width: 400px) {
  .scanner {
    &__background{
      width: 400px;
      height: 250px; 
      right: 0px;  
    }
    &__gradient {
      height: 300px;
    }
    &__content {
      margin-top: 230px;
    }
  }
}